.navigation {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background: white;
  position: relative;
  z-index: 1000;
}
.navigation__navbar {
  display: flex;
  width: 45%;
  align-items: center;
}
.navigation__navbar .navbar__link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 0rem 1.25rem 0rem 1.25rem;
}
.navigation__navbar .navbar__link:hover {
  color: #5136ff;
}
.navigation__navbar:nth-of-type(2) {
  justify-content: flex-end;
}
.navigation__navbar:nth-of-type(2) .navbar__link {
  padding-right: 1.5rem;
}
.navigation__navbar:nth-of-type(2) .navbar__link:hover img {
  transform: scale(1.1);
}
.navigation__navbar:nth-of-type(2) .navbar__link img {
  height: 15px;
  width: 15px;
  transition: ease 0.2s;
}
.navigation__navbar:nth-of-type(2) .navbar__link:nth-of-type(1) img {
  margin-right: 0.75rem;
  transition: ease 0.2s;
}
.navigation__navbar:nth-of-type(2) .navbar__link:nth-of-type(2) .navbar__cart-button {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation__navbar:nth-of-type(2) .navbar__link:nth-of-type(2) .navbar__cart-button--items-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: -0.6rem;
  right: -1rem;
  background: #5136ff;
  border-radius: 50%;
  height: 20px;
  width: 15px;
}
