
.checkout-page {
    min-height: 90vh;
    background: rgb(240, 240, 240);

    &__container {
        display: flex;
        padding: 2rem;
        user-select: none;

        .checkout__container {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            margin:0 auto;

            .checkout-cart {
                background-color: white;
                width: 65%;
                // height: 100%;
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;

                &__header {
                    padding: .5rem 0;
                    width: 30%;
                    border-bottom: 1px solid blue;
                }

                &__content {
                    padding: .5rem 1.5rem;


                    .content__cart-item {
                        display: flex;
                        justify-content: space-between;
                        height: 10rem;
                        margin: 2.5rem 0;

                        &:nth-of-type(1) {
                            margin: 1rem 0;
                        }

                        &:last-of-type {
                            margin: 1rem 0;
                        }

                        .cart-item__image {
                            width: 25%;
                            display: flex;
                            justify-content: center;
                            overflow: hidden;
                            position: relative;
                            box-shadow: 1px 1px 6px #000000bf;

                            img {
                                position: absolute;
                                bottom: 0;
                                height: 130%;
                                width:100%;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .cart-item__summary {
                            width: 60%;
                            padding: 1rem;
                            display: flex;
                            flex-direction: column;

                            .summary__price {
                                padding: .5rem 0;
                                font-weight: bold;
                                font-size: 1.25rem;
                            }

                            .summary__name {
                                padding: .5rem 0;
                            }

                            .summary__options {
                                display: flex;
                                padding: .5rem 0;
                                width: 90%;
                                justify-content: space-between;
                                align-items: center;


                                &--size {
                                    display: flex;

                                    p {
                                        color: blue;
                                        font-weight: bold;
                                    }
                                    
                                    span {
                                        padding: 0 .25rem;
                                        color: gray;
                                    }
                                }

                                &--color {
                                    display: flex;

                                    p {
                                        color: blue;
                                        font-weight: bold;
                                    }
                                    
                                    span {
                                        padding: 0 .25rem;
                                        color: gray;
                                    }
                                }

                                &--quantity {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;

                                    .quantity__count {
                                        padding: .15rem .75rem;
                                        border-radius: .2rem;
                                        text-align: center;
                                        border: 1px solid black;
                                        background-color: rgb(235, 235, 235);
                                        font-weight: bold;
                                    }

                                    svg {
                                        margin: 0rem .5rem;

                                        &:hover {
                                            cursor: pointer;
                                            
                                            path {
                                                fill: gray;
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .cart-item__remove-btn {
                            width: 10%;
                            padding-top: 1.5rem;

                            svg {
                                transition: .5s ease;

                                &:hover {
                                    cursor: pointer;
                                    transform: scale(1.1);
                                    
                                    path {
                                        fill: gray;
                                    }
                                }
                            }
                        }
                    }
                }

                &__continue-btn {
                    text-align: end;
                    padding: 0 2rem;

                    a {
                        text-decoration: none;
                        font-size: 1.25rem;
                        color: gray;
                        font-weight: bold;
                        font-style: italic;
                        position:relative;
                        transition: .5s ease;

                        &:after {
                            content: '»';
                            position: absolute;
                            opacity: 0;
                          }
                          
                        &:hover{
                            color: blue;
                            padding-right: 30px;
                        }
                          
                        &:hover:after {
                            opacity: 1;
                            right: 5px;
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .checkout-summary {
                background-color: white;
                width: 30%;
                min-height: 350px;
                max-height: 50%;
                padding: 1rem 2rem;

                &__container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .summary__header {

                        border-bottom: 1px solid blue;

                        span {
                            color: gray;
                            font-style: italic;
                        }

                        .header__sub-total {
                            padding: 1rem 0;
                            display: flex;
                            margin: 0 auto;
                            flex-wrap: wrap;
                            width: 80%;
                            font-size: 1.1rem;
                            

                            p {
                                width: 50%;
                                padding: .2rem 0;

                                &:nth-child(even) {
                                    text-align: end;
                                  }
                            }
                        }
                    }

                    .summary__content {
                        width: 80%;
                        margin: 0 auto;

                        p {
                            display: inline-block;
                            width: 48%;
                            padding: .75rem 0;
                            font-weight: bold;
                            font-size: 1.25rem;

                            &:nth-child(even) {
                                text-align: end;
                            }

                        }

                        .summary__action-btn {
                            display: flex;
                            justify-content: center;
                            padding: .5rem 0;

                                button {
                                    background-color: blue;
                                    border: none;
                                    box-shadow: 3px 3px 3px gray;
                                    transition: ease .2s;
    
                                    &:hover {
                                        transform: scale(1.05);
                                        cursor: pointer;
                                    }

                                    a {
                                        display: flex;
                                        align-content: center;
                                        text-decoration: none;
                                        color: white;
                                        padding: .5rem 1.25rem;
                                        width: 100%;
                                        height: 100%;

                                        span {
                                            line-height: 1.1rem;
                                            padding: 0 .75rem;
                                            font-weight: bold;
                                        }

                                    }
    
                            }
                        }
                    }

                    .summary__payment {
                        p {
                            font-size: .9rem;
                            padding: .5rem 0;
                            font-weight: bold;
                        }

                        &--options {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            svg {
                                margin: .1rem;
                            }
                        }
                    }

                }
            }
        }
    }
}