.navigation {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background: white;
    
    &__navbar {
        display: flex;
        width: 45%;
        align-items: center;

        .navbar__link {
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            list-style: none;
            padding: 0rem 1.25rem 0rem 1.25rem;

            &:hover {
                color: rgb(81, 54, 255);
            }

        }
    }

    &__navbar:nth-of-type(2){
        justify-content: flex-end;

        .navbar__link {
            padding-right: 1.5rem;



            &:hover {

                 img {
                     transform: scale(1.1);
                 }
            }

            img {
                height: 15px;
                width: 15px;
                transition: ease .2s;

            }
            
            &:nth-of-type(1){

                img {
                    margin-right: .75rem; 
                    transition: ease .2s;
                }
            }

            &:nth-of-type(2){

                .navbar__cart-button {
                    display: flex;
                    align-items: center;
                    position: relative;

                    &--items-counter {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        top: -.6rem;
                        right: -1rem;
                        background: rgb(81, 54, 255);
                        border-radius: 50%;
                        height: 20px;
                        width: 15px;

                        // background: rgb(81, 54, 255);
                        // border-radius: 50%;
                        // top: -.75rem;
                        // right: -1.2rem;
                        // height: 22px;
                        // width: 18px;
                    }
                }
            }
        }
    }
}