.panel-page {
    min-height: 90vh;
    background: rgb(240, 240, 240);

    &__container {
        height: 100%;
        display: flex;
        padding: 1rem;

        .panel-page__models {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 20%;
            height: 100%;

            div {
                padding: 1rem;
                button {
                    padding: .5rem 1rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .highlight {
                background: gray;
            }
        }

        .panel-page__data {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        
    }
}